:root {
    --light-pink: rgba(225, 109, 206, 0.60);
    --main-font-family: 'Teko', sans-serif;
}

main {
    background: rgb(169, 0, 254);
    background: linear-gradient(100deg,
            rgb(82, 154, 247) 5%,
            rgba(230, 6, 28, 0.96) 35%,
            rgb(82, 154, 247) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#navbar {
    background: rgb(169, 0, 254);
    background: linear-gradient(100deg,
            rgb(82, 154, 247) 5%,
            rgba(230, 6, 28, 0.96) 35%,
            rgb(82, 154, 247) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#intro-text {
    background: radial-gradient(ellipse,
            rgb(225, 109, 206) 4%,
            rgb(225, 109, 206) 2%,
            rgb(225, 109, 206) 1%,
            rgba(6, 6, 6, 0) 60%);
    color: rgb(0, 0, 0);
}

#self {
    border: solid var(--light-pink) 5px;
    width: 100%;
}

#nav-name {
    font-family: var(--main-font-family);
    color: rgb(0, 0, 0);
    font-size: 52px;
}

.nav-items {
    font-family: var(--main-font-family);
    font-weight: 300;
    color: rgb(0, 0, 0);
    font-size: 32px;
}

#intro-hd {
    font-family: var(--main-font-family);
    color: rgb(0, 0, 0);
    font-size: 52px;
}

#intro-p {
    font-family: var(--main-font-family);
    font-weight: 300;
    color: rgb(0, 0, 0);
    font-size: 30px;
}

#work-hd {
    font-family: var(--main-font-family);
    color: rgb(0, 0, 0);
    font-size: 52px;
    transform: rotate(270deg);
}

#globe-img {
    border: solid var(--light-pink) 5px;
    width: 100%;
}

#globe-txt {
    font-family: var(--main-font-family);
    font-weight: 300;
    color: rgb(0, 0, 0);
    font-size: 30px;
    background-color: var(--light-pink);
    display: inline-block;
    padding: 5px;
    margin-top: 15%;
}

#contact-hd {
    font-family: var(--main-font-family);
    color: rgb(0, 0, 0);
    font-size: 52px;
}

.contact-link {
    font-family: var(--main-font-family);
    font-weight: 300;
    color: rgb(0, 0, 0);
    font-size: 30px;
}

footer h3 {
    font-family: var(--main-font-family);
    color: rgb(0, 0, 0);
    font-size: 52px;
    font-weight: 300;
}

.img {
    transition: 0.3s all ease;
}

.img:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 991px) {
    #work-hd {
        font-family: var(--main-font-family);
        color: rgb(0, 0, 0);
        font-size: 52px;
        transform: rotate(0deg);
    }
}